In [1]:
from pathlib import Path
import pandas as pd
import json
import numpy as np
# import shap

In [2]:
PATH = Path(r'C:\Users\niti.mishra\Documents\2_TDMDAL\projects\covid_tests\covid_tests')
# PATH = Path(r'/Users/peaceforlives/Documents/Projects/covid_symptoms')
DATA = Path.joinpath(PATH, 'data')
RESULTS = Path.joinpath(PATH, 'results')

## DATA ##

In [8]:
covid_data = pd.read_excel(Path.joinpath(DATA, 'RawData_IMOH_Sep_8.xlsx'))

# select cols
cols = ['ïtest_date', 'cough', 'fever', 'sore_throat', 'shortness_of_breath',
       'head_ache', 'corona_result', 'age_60_and_above', 'gender',
       'test_indication', 'TestResult','contact','abroad', 'Validation']
new_data = covid_data[cols]

# rename cols
new_data.columns = ['ïtest_date', 'cough', 'fever', 'sore_throat', 'shortness_of_breath',
                    'head_ache', 'corona_result', 'sixtiesplus', 'Gender', 'test_indication', 
                    'testresult', 'contact', 'abroad', 'Validation']

# replace categories nan with 2
new_data['sixtiesplus'] = np.where(new_data['sixtiesplus']== 'Yes', 1, 
                                   (np.where(new_data['sixtiesplus']== 'No', 0, 2)))
gender_category = new_data['Gender'].unique()
new_data['Gender'] = np.where(new_data['Gender']== gender_category[0], 1, 
                              (np.where(new_data['Gender']== gender_category[1], 0, 2)))
split_category = new_data['Validation'].unique()
new_data['Validation'] = np.where(new_data['Validation']== split_category[0], 'Training', 
                              (np.where(new_data['Validation']== split_category[1], 'Validation', 'Test')))
# save
# new_data.to_csv(Path.joinpath(DATA,'RawData_IMOH_Sep_8.csv'),index=False)
new_data.head()

C:\Users\niti.mishra\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\niti.mishra\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ïtest_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,sixtiesplus,Gender,test_indication,testresult,contact,abroad,Validation
0,2020-09-03,0,1,0,0,0,×××××,1,1,Other,1,0,0,1
1,2020-09-03,0,1,0,0,0,×××××,0,0,Other,1,0,0,0
2,2020-09-03,1,0,0,0,1,×××××,0,1,Other,1,0,0,1
3,2020-09-03,1,0,0,0,0,×××××,0,0,Contact with confirmed,1,1,0,0
4,2020-09-03,0,0,0,0,1,×××××,0,1,Other,1,0,0,1

In [111]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first', sparse=False)
ohe = encoder.fit_transform(new_data[['sixtiesplus','Gender']])
ohe = pd.DataFrame(ohe)
ohe.columns = encoder.get_feature_names(['sixtiesplus','Gender'])
ohe

        sixtiesplus_1  sixtiesplus_2  Gender_1  Gender_2
0                 1.0            0.0       1.0       0.0
1                 0.0            0.0       0.0       0.0
2                 0.0            0.0       1.0       0.0
3                 0.0            0.0       0.0       0.0
4                 0.0            0.0       1.0       0.0
...               ...            ...       ...       ...
109593            0.0            1.0       1.0       0.0
109594            0.0            1.0       1.0       0.0
109595            0.0            1.0       0.0       0.0
109596            0.0            1.0       1.0       0.0
109597            0.0            1.0       1.0       0.0

[109598 rows x 4 columns]

In [55]:
x = new_data['Gender'].astype('category').cat.codes
y = new_data['sixtiesplus'].astype('category').cat.codes

In [68]:
from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()
LE.fit_transform( new_data['sixtiesplus'].astype(str))
LE.fit_transform( new_data['Gender'].astype(str))

array([2, 1, 2, ..., 1, 2, 2])

In [73]:
new_data['Gender'].value_counts()

×××¨      54629
× ×§××    52929
Name: Gender, dtype: int64

In [64]:
new_data['sixtiesplus'].astype(str)

0         Yes
1          No
2          No
3          No
4          No
         ...
109593    nan
109594    nan
109595    nan
109596    nan
109597    nan
Name: sixtiesplus, Length: 109598, dtype: object

In [42]:
for i in new_data.columns[1:]:
    print(i)
    print(new_data[i].isna().sum())

cough
0
fever
0
sore_throat
0
shortness_of_breath
0
head_ache
0
corona_result
0
age_60_and_above
25993
gender
2040
test_indication
0
testresult
0
sixtiesplus
0
Gender
0
contact
0
abroad
0
Validation
0

In [4]:
covid_data = pd.read_csv(Path.joinpath(DATA, 'RawData_IMOH_Sep_8.csv'))

In [5]:
covid_data.head()

,ïtest_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,sixtiesplus,Gender,test_indication,testresult,contact,abroad,Validation
0,2020-09-03,0,1,0,0,0,×××××,1,1,Other,1,0,0,Training
1,2020-09-03,0,1,0,0,0,×××××,0,0,Other,1,0,0,Validation
2,2020-09-03,1,0,0,0,1,×××××,0,1,Other,1,0,0,Training
3,2020-09-03,1,0,0,0,0,×××××,0,0,Contact with confirmed,1,1,0,Validation
4,2020-09-03,0,0,0,0,1,×××××,0,1,Other,1,0,0,Training

In [22]:
test = covid_data[(covid_data['sixtiesplus']==2)&(covid_data['Gender']==2)]
cols = ['cough', 'fever', 'sore_throat', 'shortness_of_breath', 'head_ache']#,'contact', 'abroad']
test= test[cols]

In [23]:
test.shape

(1354, 5)

In [27]:
sum(test.sum(axis=1)==0)

0

In [7]:
y = covid_data['testresult']
cols = ['cough', 'fever', 'sore_throat', 'shortness_of_breath', 'head_ache', 'sixtiesplus', 'Gender', 'contact', 'abroad', 'Validation']
covid_data = covid_data[cols]

In [8]:
covid_data.index = covid_data['Validation']
covid_data.drop('Validation', inplace=True, axis=1)
covid_data.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,sixtiesplus,Gender,contact,abroad
Validation,,,,,,,,,
Training,0,1,0,0,0,1,1,0,0
Validation,0,1,0,0,0,0,0,0,0
Test,1,0,0,0,1,0,1,0,0
Test,1,0,0,0,0,0,0,1,0
Training,0,0,0,0,1,0,1,0,0

In [9]:
from collections import Counter

Counter(covid_data['cough'])

Counter({0: 33076, 1: 49843})

In [22]:
test = {'cough': '0', 'fever': '1'}

# [[key for key in test[0].keys()], *[list(idx.values()) for idx in test]]

In [23]:
print("{" + "\n".join("{!r}: {!r},".format(k, v) for k, v in test.items()) + "}")

{'cough': '0',
'fever': '1',}

In [113]:
train = covid_data.index.get_loc('Training')
valid = covid_data.index.get_loc('Validation')
test = covid_data.index.get_loc('Test')

In [114]:
X_train = covid_data[train].values.tolist()
y_train = y[train].values.tolist()
print(len(y_train))

X_valid = covid_data[valid].values.tolist()
y_valid = y[valid].values.tolist()
print(len(y_valid))

X_test = covid_data[test].values.tolist()
y_test = y[test].values.tolist()
print(len(y_test))

41464
20744
20711

In [32]:
import numpy as np
import time

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, auc, roc_auc_score

In [119]:
lr = LogisticRegression(random_state=42, penalty='none')
lr.fit(X_train, y_train)

LogisticRegression(penalty='none', random_state=42)

In [121]:
y_pred = lr.predict(X_test)
roc_auc_score(y_test, y_pred)

0.7743491881068725

In [122]:
lr.coef_

array([[-0.78111456,  0.46842223,  0.87043669,  1.03072509,  1.27444187,
         0.3634671 , -0.10938874,  0.61187191, -2.49559097]])

In [20]:
# # rename columns
# cols = ['test_date']
# cols.extend(covid_data.columns[1:] )
# covid_data.columns = cols

# # select columns
# cols = ['test_date', 'cough', 'fever', 'sore_throat', 'shortness_of_breath', 'head_ache',
#         'testresult', 'sixtiesplus', 'Gender', 'contact', 'abroad', 'Validation']
# covid_data = covid_data[cols]

# covid_data['test_date'] = pd.to_datetime(covid_data['test_date'], format='%Y-%m-%d')

# covid_data.head()

## RESULTS ##

In [16]:
res = pd.read_json(str(RESULTS)+'/results.json', orient='records', lines=True)

In [17]:
res.set_index('time', inplace=True)

In [18]:
res.to_clipboard()

## SHAPLEY VALUE ##

In [33]:
import shap

ModuleNotFoundError: No module named 'shap'